---
import { useStoryblokApi } from "@storyblok/astro";
import { getStoryblokImageDimensions } from "@utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";
import ArticleCard from "@components/Card/ArticleCard.astro";

const storyblokApi = useStoryblokApi();
const {
	data: { stories },
} = await storyblokApi.get("cdn/stories", {
	by_slugs: "guides/*",
	sort_by: "name:asc",
	version: import.meta.env.DEV ? "draft" : "published",
});
---

<BaseLayout title="Guides">
	<PageTitle title="Guides">
		<p>
			Here you can learn about the game’s systems, find helpful resources,
			and reference data that has been gathered.
		</p>
	</PageTitle>
	<div>
		<ul class="auto-grid" role="list">
			{
				stories.map((guide) => (
					<li>
						<ArticleCard
							class="bs-full"
							innerClass="bg-surface-0"
							title={guide.content.title}
							url={`/${guide.full_slug}`}
							category={guide.content.category[0]}
						>
							<p slot="summary">{guide.content.summary}</p>
							<img
								slot="img"
								src={guide.content.cover_image.filename}
								alt={guide.content.cover_image.alt}
								width={
									getStoryblokImageDimensions(
										guide.content.cover_image.filename
									).width
								}
								height={
									getStoryblokImageDimensions(
										guide.content.cover_image.filename
									).height
								}
								loading="lazy"
								decoding="async"
							/>
						</ArticleCard>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
