---
import { queryStoryblokGApi } from "@utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";
import ArticleCard from "@components/Card/ArticleCard.astro";
import StoryblokImg from "@components/Image/StoryblokImg.astro";

const {
	ArticleItems: { items },
} = await queryStoryblokGApi({
	query: `
		query {
			ArticleItems(starts_with: "guides/", sort_by: "name:asc") {
				items {
					full_slug
					content {
						title
						summary
						cover_image {
							alt
							filename
						}
					}
				}
			}
		}
	`,
});
---

<BaseLayout title="Guides">
	<PageTitle title="Guides">
		<p>
			Here you can learn about the game’s systems, find helpful resources,
			and reference data that has been gathered.
		</p>
	</PageTitle>
	<div>
		<ul class="auto-grid list-none">
			{
				items.map((guide) => (
					<li>
						<ArticleCard
							class="bs-full @sm/body:bg-surface-0"
							title={guide.content.title}
							url={`/${guide.full_slug}`}
						>
							<p slot="summary">{guide.content.summary}</p>
							<StoryblokImg
								slot="img"
								src={guide.content.cover_image.filename}
								alt={guide.content.cover_image.alt}
								sizes="30vw"
								widths={[0.8, 0.6, 0.5, 0.4, 0.3, 0.2]}
								loading="lazy"
							/>
						</ArticleCard>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>

<style>
	.auto-grid {
		--grid-min-item-size: 18em;
	}
</style>
