---
import { getStoryblokImageDimensions } from "@utils";
import { useTranslations } from "src/utils/i18n";

const t = useTranslations("en");

const { blok, class: className } = Astro.props;

const { width, height } = getStoryblokImageDimensions(blok.image.filename);
---

<div class:list={["card-frame", className]}>
	<div class="card bg-surface-lightest">
		<div class="card-body">
			<a
				href={`/${blok.url.cached_url}`}
				class="card-title text-1 lg:text-2 card-link underline-on-hover"
			>
				{t(`class.${blok.name}`)}
			</a>
			<p class="leading-tight mbs-3xs-rem">{blok.caption}</p>
		</div>
		<div class="card-img">
			<img
				src={blok.image.filename}
				alt=""
				width={width}
				height={height}
				decoding="async"
				loading="lazy"
			/>
		</div>
	</div>
</div>
