---
import { getStoryblokImageDimensions } from "@utils";
import { useTranslations } from "src/utils/i18n";

const t = await useTranslations("en");

const { blok, class: className } = Astro.props;

const { width, height } = getStoryblokImageDimensions(blok.image.filename);
---

<div class:list={["card-frame", className]} data-variant="border">
	<div class="card isolate">
		<div class="card-body">
			<a
				href={`/${blok.url.cached_url}`}
				class="card-title card-link underline-on-hover"
				rel="prefetch"
			>
				{t(`class.${blok.name}`)}
			</a>
			<p class="leading-tight mbs-3xs-rem">{blok.caption}</p>
		</div>
		<div class="card-img grow-0">
			<img
				class="mix-blend-exclusion"
				src={`${blok.image.filename}/m/`}
				alt=""
				width={width}
				height={height}
				decoding="async"
				loading="lazy"
			/>
		</div>
	</div>
</div>
