---
import { useStoryblokApi } from "@storyblok/astro";
import { getStoryblokImageDimensions } from "@utils";
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";

const storyblokApi = useStoryblokApi();
const {
	data: { stories },
} = await storyblokApi.get("cdn/stories", {
	by_slugs: "guides/*",
	sort_by: "name:asc",
	version: import.meta.env.DEV ? "draft" : "published",
});
---

<BaseLayout>
	<PageTitle title="Bapharia.edu">
		<p class="text-secondary-on-dark">
			The premier information hub for BLUE PROTOCOL
		</p>
	</PageTitle>
	<div>
		<ul class="auto-grid" role="list">
			{
				stories.map((guide) => (
					<li class="card">
						<div class="card-body gap-s-rem flex-col flex justify-between">
							<div class="stack stack-space-2xs-rem">
								<a
									class="card-title card-link underline-on-hover"
									href={`/${guide.full_slug}`}
								>
									{guide.content.title}
								</a>
								<p>{guide.content.summary}</p>
							</div>
							<p>
								<span
									class="button chip rounded-sm static bg-accent-surface"
									data-size="s"
									data-color="neutral"
								>
									{guide.content.category[0]}
								</span>
							</p>
						</div>
						<div class="card-img">
							<img
								src={guide.content.cover_image.filename}
								alt={guide.content.cover_image.alt}
								width={
									getStoryblokImageDimensions(
										guide.content.cover_image.filename
									).width
								}
								height={
									getStoryblokImageDimensions(
										guide.content.cover_image.filename
									).height
								}
							/>
						</div>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
