---
import NavItem from "./NavItem.astro";
import NavItemToggle from "./NavItemToggle.svelte";
import NavSubmenuCloser from "./NavSubmenuCloser.svelte";

const { url = "/", title, icon, current = false, id } = Astro.props;
const _icon = await icon;
---

<li class="nav-item">
	{
		current ? (
			<NavItemToggle
				client:load
				url={url}
				title={title}
				icon={_icon.default}
				current={current}
				controls={id}
			>
				<div id={id} class="nav-submenu">
					<slot />
					<NavSubmenuCloser controls={id} client:visible />
				</div>
			</NavItemToggle>
		) : (
			<NavItem
				url={url}
				title={title}
				icon={icon}
				current={current}
			/>
		)
	}
</li>

<script>
	import { submenu } from "./navStore.js";
	import screens from "@data/design-tokens/screen-sizes.json";

	submenu.listen((submenu) => {
		if (submenu.open) {
			document.documentElement.classList.add("submenu-expanded");
		} else {
			document.documentElement.classList.remove("submenu-expanded");
			if (submenu.id) {
				document
					.querySelector(`[aria-controls="${submenu.id}"]`)
					.focus();
			}
		}
	});

	document.body.addEventListener("click", (event) => {
		const maxBreakPoint = `${
			Number(screens["2xl"].split("rem")[0]) - 0.01
		}rem`;
		const minBreakPoint = window.matchMedia(
			`(min-width: ${screens.md}) and (max-width: ${maxBreakPoint})`
		);

		if (!event.target.closest(".nav-menu") && minBreakPoint.matches) {
			submenu.set({ open: false });
		}
	});
</script>
